Jcr.Api/Jcr.Api.Helpers/Service References/CCMService/ProcessEmail510.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ccmsvc.devb.devjcrinc.com/ProcessEmail.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JCR.CCM.EmailService" />
  <xs:import schemaLocation="https://ccmsvc.devb.devjcrinc.com/ProcessEmail.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://ccmsvc.devb.devjcrinc.com/ProcessEmail.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/JCR.CCM.BusinessController" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JCR.CCM.EmailService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JCR.CCM.EmailService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteID" type="xs:int" />
        <xs:element minOccurs="0" name="templateID" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attachments" nillable="true" type="q3:ArrayOfstring" />
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actionTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="fnReturnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createdByUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailResult" type="xs:int" />
        <xs:element minOccurs="0" name="fnReturnValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEREmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ERReportUserScheduleID" type="xs:int" />
        <xs:element minOccurs="0" name="siteID" type="xs:int" />
        <xs:element minOccurs="0" name="templateID" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attachments" nillable="true" type="q4:ArrayOfstring" />
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actionTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="functionReturnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createdByUserId" type="xs:int" />
        <xs:element minOccurs="0" name="fromEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEREmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEREmailResult" type="xs:int" />
        <xs:element minOccurs="0" name="functionReturnValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenReplacementText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SiteID" type="xs:int" />
        <xs:element minOccurs="0" name="templateID" type="xs:int" />
        <xs:element minOccurs="0" name="isBlankOK" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenReplacementTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTokenReplacementTextResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAdhocEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteID" type="xs:int" />
        <xs:element minOccurs="0" name="templateID" type="xs:int" />
        <xs:element minOccurs="0" name="ToEMailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CCEMailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actionTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="fnReturnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createdByUserId" type="xs:int" />
        <xs:element minOccurs="0" name="txtEmailSubject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtNewEmail" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attachments" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAdhocEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendAdhocEmailResult" type="xs:int" />
        <xs:element minOccurs="0" name="fnReturnValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SiteID" type="xs:int" />
        <xs:element minOccurs="0" name="templateID" type="xs:int" />
        <xs:element minOccurs="0" name="templateText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isBlankOK" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProcessTextResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGeneralEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JCR.CCM.BusinessController" minOccurs="0" name="mailDetails" nillable="true" type="q6:MailDetails" />
        <xs:element minOccurs="0" name="fnReturnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actionTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="createdByUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGeneralEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendGeneralEmailResult" type="xs:int" />
        <xs:element minOccurs="0" name="fnReturnValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOversizeEmailAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siteID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="reportName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actionTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="erReportSchedule" type="xs:int" />
        <xs:element minOccurs="0" name="createdByUserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOversizeEmailAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendOversizeEmailAlertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTracerDeptAssignmentEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteID" type="xs:int" />
        <xs:element minOccurs="0" name="userEmailScheduleID" type="xs:int" />
        <xs:element minOccurs="0" name="templateID" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="attachments" nillable="true" type="q7:ArrayOfstring" />
        <xs:element minOccurs="0" name="applicationCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actionTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="functionReturnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="createdByUserId" type="xs:int" />
        <xs:element minOccurs="0" name="fromEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTracerDeptAssignmentEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendTracerDeptAssignmentEmailResult" type="xs:int" />
        <xs:element minOccurs="0" name="functionReturnValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTaskEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JCR.CCM.BusinessController" minOccurs="0" name="taskMailDetail" nillable="true" type="q8:TaskMailDetail" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/JCR.CCM.BusinessController" minOccurs="0" name="taskDetail" nillable="true" type="q9:TaskDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTaskEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/JCR.CCM.BusinessController" minOccurs="0" name="SendTaskEmailResult" nillable="true" type="q10:TaskMailDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTaskNotificationEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/JCR.CCM.BusinessController" minOccurs="0" name="taskMailDetail" nillable="true" type="q11:TaskMailDetail" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/JCR.CCM.BusinessController" minOccurs="0" name="emailRecipient" nillable="true" type="q12:EmailRecipient" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/JCR.CCM.BusinessController" minOccurs="0" name="taskDetails" nillable="true" type="q13:ArrayOfTaskDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTaskNotificationEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/JCR.CCM.BusinessController" minOccurs="0" name="SendTaskNotificationEmailResult" nillable="true" type="q14:EmailRecipient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTasksEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/JCR.CCM.BusinessController" minOccurs="0" name="taskMailDetail" nillable="true" type="q15:TaskMailDetail" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/JCR.CCM.BusinessController" minOccurs="0" name="taskDetails" nillable="true" type="q16:ArrayOfTaskDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTasksEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/JCR.CCM.BusinessController" minOccurs="0" name="SendTasksEmailResult" nillable="true" type="q17:TaskMailDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>